/* PC */
@media (min-width: 1024px) {
    
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    
}


/* Mobile */
@media (max-width: 740px) {
    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .header {
        display: none;
    }
    
    .nav-des {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    .nav-heading {
        height: 60px;
        display: flex; 
        width: 100%;
    }

    .nav-heading-bar {
        display: block;
        float: left;
        padding-right: 70px;
        margin: 10px; 
    }

    .nav-list {
        display: block;
        background-color: white;
        width: 300px;
        height: 900px;
        padding-left: 16px;
        z-index: 1000;
    }

    .product-outstanding {
       
    }

    
}
